@import '../scss/libs/reset';
@import '../scss/libs/MainVariable.scss';

.container{
    width: 1260px;
    margin:0 auto;
    position: relative;
     h2{
        font-size: 30px;
        font-weight: 500;
        margin-top: 48px;
     }

     &__right {
        width: 422px;
        height: 388px;
        background-color: $orange;
        position: absolute;
        right: 0; 
     }
     &__left{
        width: 838px;
        height: 3000px;
        background-color: $lightOrange;
     }

}

.product{
   width: 786px;
   height: 111px;
   background-color: #8c8c8c;
   margin-top: 30px;
}