@import '/src/scss/app.scss';

.selectCity{
    display: flex;
    position: relative;
    cursor: pointer;

    &__popup {
    z-index: 1;
    position: absolute;
    left: 0;
    background-color: #fff;
    margin-top: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    padding: 10px 0;
    width: 180px;

      li {
        padding: 12px 20px;
        cursor: pointer;
        &.active,
        &:hover {
          background: rgba(255, 72, 0, 0.05)
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
    }
  }
  
  svg{
    margin-top: 2px;
    margin-left: 10px;
}
}

.headerTop{
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 15px; 
  .shares{
      color: $orange;
      font-weight: 600;
  }
  &__left{
      display: flex;
      .menu__item{
          padding-right: 30px;
      }
  }

  &__right{
     display: flex;
      .menu__item{
          padding-left: 30px;
      }  
  }
}

.search{
  margin-left: 30px;
  height: 43px;
  width: 590px;
  padding-top: 10px;
  padding-left: 20px;
  border:2px solid $gray;
  border-radius: 10px;
  position: relative;

  &__input{
      width: 500px;  
      // &:focus {
      //         border:2px solid #ea1a1a;
      //     }
  }
  
  &__btn{
      width: 53px;
      height: 41px;
      border-radius: 8px;
      // background-color: red;
      position: absolute;
      top: 0;
      right: 0;
 }
}

.bodyHead{
  display: flex;
  margin-top: 25px;

  &__btn{
      margin-left: 30px;
      background-color:$orange;
      color: #ffffff;
      width: 125px;
      height: 43px;
      border-radius: 10px;
      font-weight: 500;
      font-size: 18px;
      border: none;
      cursor: pointer;
        svg{
          margin-right: 6px;
        }
    }

    &__action{
      display: flex;
      align-items: center;
     a{
      margin-left: 34px;
     }

     &_select{
      svg{
      margin-left: 28px;
      }
     }
     &_cart{
      svg{
      margin-left: 20px;
      }
     }
     &_login{
      svg{
      margin-left: 16px;
      }
     }
  }
}