@import '../scss/app.scss';

.not_faund{
    margin: 10px auto;
    width: 460px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    img{
        margin-bottom: 40px;
        width: 460px; 
    }

    p{
        align-items: center;  
    }

    &_btn{
        margin-top: 20px;
        color: aqua;
    }
  
}