@import './MainVariable.scss';



.card {
    width: 237px;
    height: 480px;
    background-color: #ffffff;
    border-radius: 12px;
    position: relative;
    transition: 0.4s;
    margin-top: 35px;

    &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    }

    &__top{
        margin-top: 20px;
        height: 250px;
        overflow: hidden;
        
        &-img{
            width: 100px;
        }

        &-label{
            width: 47px;
            height: 24px;
            background-color: $lightOrange;
            text-align: center;
            padding-top: 3px;
            color: #fff;
            border-radius: 8px;
            position: absolute;
            top: 243px;
            left: 10px; 
        }
    }

    &__platforms{
      ul {
        display: flex;
        margin-top: 10px;
        
        li {
          background-color: $gray;
          color: #fff;
          padding: 2px 8px;
          font-size: 15px;
          border-radius: 2px;
          margin-left: 10px;
          font-weight: 400;
          cursor: pointer;
          transition: background-color 0.1s ease-in-out;
        margin-bottom: 10px;
        &:hover {
          background-color: darken(#f9f9f9, 2%);
        }
  
        &:active {
          background-color: darken(#f9f9f9, 5%);
        }
  
        &.active {
          background-color: $orange;
          color: #fff;
        }
        }
      }
    }

    &__prices{
        display: flex;
        font-weight: 700;
        margin-left: 10px;

        &-discount{
            margin-left: 12px;
            color: $gray;
        }

        &-common{
            font-size: 18px;
        }
    }

    &__title{
        margin-top: 10px;
        margin-left: 10px;
    }

    &__buy{
        width: 151px;
        height: 44px;
        color: #fff;
        background-color: $gray;
        border-radius: 12px;
        border: none;
        // margin-top: 12px;
        // margin-left: 40px;
        position: absolute;
        bottom: 20px;
        left: 43px
    }
}
.grid{
    &__card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        @media(max-width: 1200px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @media(max-width: 952px){
        grid-template-columns: 1fr 1fr 1fr;
       }
       @media(max-width: 720px){
        grid-template-columns: 1fr 1fr;
       }
      }
    &__media{
      @media(max-width: 970px){
        text-align: center;
        }
    }



    &__flex{
      display: flex;
      justify-content: space-between;

    @media(max-width: 970px){
      flex-direction: column;
      }


  }

    &__h2{
        margin-top: 66px;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 15px;
    }

}

.categories {
  ul {
    display: flex;
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 10px;
      margin-right: 10px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
    //   @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: $orange;
        color: #fff;
      }
    }
  }
}


.sort {
  margin-top: 12px;
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    z-index: 1;
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}

.pagiation{
  // previous глобальный класс
  // .previous{
  //  background-color: #fc1515; 
  // }
    margin-top: 20px;
  li{
    display: inline-block;
    

    a{
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      // border: 2px solid $gray;
      border-radius: 8px;
      margin-right: 10px;
      transition: 0.4s;
      color: $gray;

      &:hover{
        background-color: $lightOrange;
        color: rgb(255, 255, 255);
      }
    }
    
  }
}

.selected{
  a{
    border: 2px solid $gray;
  }
}