@import 'libs/MainVariable';

.container{
   margin: 0 auto;
    max-width: 1260px; 
}

// -------------TopHeader----------------
// верхнее меню, проблемы не работает оранжевая кнопка, доделать всплывающее меню, 
.text-orange{
    color: $orange;
}


.header__top{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    font-size: 15px;
    a{
        color: $black;
    }
    
}

.menu__list-left{
    display: flex;
        .menu__item{
            padding-right: 30px;
        } 
}
.menu__list-right{
    display: flex;
        .menu__item{
            padding-left: 30px;
        } 
}

// -------------BodyHeader----------------

.header__body{
    display: flex;
    margin-top: 25px;

    &-btn{
        margin-left: 30px;
        background-color:$orange;
        color: #ffffff;
        width: 125px;
        height: 43px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        border: none;
        cursor: pointer;
        &-catalog{
            margin-right: 10px;
        }
    }
}

.header__search{
    margin-left: 30px;
    height: 43px;
    width: 590px;
  
    border:2px solid $gray;
    border-radius: 10px;
}


// -----------main__slider---------
.main__slider{
    margin-top: 53px;
}

